## .NET artifacts
bin/
obj/
*.user
*.suo
.vs/
TestResults/
*.trx
*.coverage
*.coveragexml

## NuGet
*.nupkg
*.snupkg
packages/
project.lock.json
project.assets.json

## Rider / JetBrains
.idea/
*.DotSettings.user

## OS
.DS_Store
Thumbs.db

## Logs
*.log
